   Attributes:
    - setVictoryConditions(): string
    - setPenaltyContions(): string
    - setPlayingFIeld: string
    - setNumberOfSets: int
    - setSetTime: time
    - numberOfPlayersPerTeam: int